@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Sansita+Swashed:wght@700&display=swap");

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 79, 90);
}

.sidebar__dpBorder {
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(129, 162, 189);
  border: 2px solid rgb(81, 78, 153);
}

.sidebar__links ul li {
  margin-top: 10px;
  list-style: none;
  font-weight: bold;
}

.sidebar__links ul li a {
  text-decoration: none;
  color: rgb(196, 196, 196);
}

.sidebar__links ul li a:hover {
  color: white;
}

.active__link {
  color: white !important;
}

.nav__header {
  background-color: rgb(33, 79, 90) !important;
}
